/* Global */

body{
    background-color:#171717;
}

.wrapper{
    font-family: 'Gilam';
    font-style: normal;
    color: #FFFFFF;
}

.container{
    margin: 0 230px;
}

h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

p{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

/* header */

.header-menu, .header-projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* align-items: center; */
}

.logo-img{
    width: 216px;
    height: 33px;
    margin-top: 46px;
}

.btn{
    background-color: #171717;
    width: 218px;
    height: 50px;
    border: #E4B564 solid 1px;
    margin-top: 37px;
    text-align: center;
}

.btn a{
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
}

/* main */
    /* Section one */
.chapter-one{
    margin-top: 128px;
    margin-bottom: 41px;
}

.chapter-one-text{
    width: 1182px;
    margin-bottom: 41px;
}

.heating-network{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 37px;
}

.item{
    height: 468px;
    font-size: 20px;
    line-height: 28px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item1{
    grid-area: 1/1/2/3;
}

.item2{
    grid-area: 1/3/2/5;
}

.item3{
    grid-area: 1/5/2/7;
}

.item4{
    grid-area: 2/1/3/4;
}

.item5{
    grid-area: 2/4/3/7;
}

    /* Section two */

.chapter-two{
    margin-top: 161px;
    margin-bottom: 94px;
}

.machinery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
}

.machinery p{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.subject{
    font-size: 20px;
    line-height: 25px;
    padding-left: 48px;
    padding-top: 44px;
    box-sizing: border-box;
}

.column-one,
.column-two,
.column-three{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.subject1{
    height: 313px;
}

.subject2{
    height: 439px;
}

.subject3{
    height: 256px;
}

.subject4{
    height: 558px;
}

.subject5{
    height: 405px;
}

.subject6{
    height: 313px;
}

.subject7{
    height: 278px;
}

    /* Section three */

.projects{
    background-color: #0E0E0E;
    padding: 0 230px;
    margin-bottom: 240px;
}

.btn-two{
    width: 180px;
    background-color: #0E0E0E;
    margin-top: 161px;
}

.chapter-three{
    margin-top: 172px;
}

.header-projects{
    margin-bottom: 72px;
}

.projects-logo{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.logo-item{
    height: 391px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-item2{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;

}

.text p{
    font-size: 22px;
    line-height: 28px;
}

.text{
    display: flex;
    flex-direction: column;
    /* width: 326px; */
    text-align: center;
    margin: 12px 80px;
}